In [23]:
data = pd.read_json("./Sarcasm_Headlines_Dataset_v2.json",lines=True)

In [27]:
data

,is_sarcastic,headline,article_link
0,1,thirtysomething scientists unveil doomsday clo...,https://www.theonion.com/thirtysomething-scien...
1,0,dem rep. totally nails why congress is falling...,https://www.huffingtonpost.com/entry/donna-edw...
2,0,eat your veggies: 9 deliciously different recipes,https://www.huffingtonpost.com/entry/eat-your-...
3,1,inclement weather prevents liar from getting t...,https://local.theonion.com/inclement-weather-p...
4,1,mother comes pretty close to using word 'strea...,https://www.theonion.com/mother-comes-pretty-c...
...,...,...,...
28614,1,jews to celebrate rosh hashasha or something,https://www.theonion.com/jews-to-celebrate-ros...
28615,1,internal affairs investigator disappointed con...,https://local.theonion.com/internal-affairs-in...
28616,0,the most beautiful acceptance speech this week...,https://www.huffingtonpost.com/entry/andrew-ah...
28617,1,mars probe destroyed by orbiting spielberg-gat...,https://www.theonion.com/mars-probe-destroyed-...
28618,1,dad clarifies this not a food stop,https://www.theonion.com/dad-clarifies-this-no...

In [28]:
# remove duplicate headlines
data=data.drop(data[data['headline'].duplicated()].index,axis=0)

In [29]:
sarc_cnt = len(data.query('is_sarcastic==1'))
non_sarc_cnt = len(data.query('is_sarcastic==0'))

# Summary of sarcastic lines
print(f'There are {sarc_cnt} sarcastic headlines and {non_sarc_cnt} non-sarcastic headlines')

There are 13552 sarcastic headlines and 14951 non-sarcastic headlines

---

## Part 2: Data Processing/Cleaning

In [39]:
# import stopwords from nltk
stwrds = set(stopwords.words('english'))
ps = PorterStemmer()

In [40]:
# method to clean a given headline by lowercasing the string, removing spaces, and removing stopwords
def clean_headlines(headline):
    headline = headline.lower()
    headline_split = headline.split()
    cleaned_headline = []
    for word in headline_split:
        if word not in stwrds and word not in string.punctuation:
            cleaned_headline.append(ps.stem(word))
    cleaned_line = " ".join(cleaned_headline)
    return cleaned_line

In [41]:
data['cleaned'] = data['headline'].apply(clean_headlines)

In [46]:
data.head()

,is_sarcastic,headline,article_link,cleaned
0,1,thirtysomething scientists unveil doomsday clo...,https://www.theonion.com/thirtysomething-scien...,thirtysometh scientist unveil doomsday clock h...
1,0,dem rep. totally nails why congress is falling...,https://www.huffingtonpost.com/entry/donna-edw...,dem rep. total nail congress fall short gender...
2,0,eat your veggies: 9 deliciously different recipes,https://www.huffingtonpost.com/entry/eat-your-...,eat veggies: 9 delici differ recip
3,1,inclement weather prevents liar from getting t...,https://local.theonion.com/inclement-weather-p...,inclement weather prevent liar get work
4,1,mother comes pretty close to using word 'strea...,https://www.theonion.com/mother-comes-pretty-c...,mother come pretti close use word 'streaming' ...

In [80]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(2,2))

In [86]:
res = cv.fit_transform(data.iloc[0:2].cleaned)
res = cv.fit_transform(data.cleaned)
res.shape

(28503, 148333)

In [87]:
df = pd.DataFrame(res.toarray(),columns=cv.get_feature_names_out())

In [88]:
df

,00 probabl,000 000,000 100,000 115,000 15,000 acr,000 actual,000 adopt,000 airlin,000 american,...,zuckerberg regret,zuckerberg sell,zuckerberg senat,zuckerberg tout,zuckerberg trump,zuckerberg watch,zuckerberg wish,zuckerberg you,zz top,Ã¼nite stÃ¤te
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28501,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28502,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [84]:
data.iloc[0].cleaned

'thirtysometh scientist unveil doomsday clock hair loss'

In [85]:
data.iloc[1].cleaned

'dem rep. total nail congress fall short gender, racial equal'

In [109]:
i=0
for i in range(len(data.cleaned)):
    if "000" in data.iloc[i].cleaned:
        print (data.iloc[i].is_sarcastic)

0
0
1
1
1
1
1
1
1
0
0
1
1
1
1
1
0
1
1
1
1
1
1
0
1
1
1
1
1
1
1
1
0
0
1
1
0
1
1
1
0
0
0
1
1
1
1
0
1
1
0
0
1
1
1
1
1
1
1
0
0
1
0
1
0
0
1
0
1
1
0
1
1
1
1
0
1
1
1
0
1
1
1
0
1
1
0
0
0
0
1
1
1
1
0
0
1
1
0
0
1
1
1
1
0
1
1
1
1
1
0
0
1
1
1
0
1
1
1
1
1
1
0
0
1
1
0
0
1
1
1
1
1
1
1
1
0
1
0
1
1
0
0
0
1
1
0
1
0
1
1
1
1
1
0
1
1
1
0
1
1
1
0
0
0
1
1
0
0
1
1
1
1
1
1
0
0
0
1
0
0
1
1
1
1
0
1
1
1
1
1
1
1
1
0
1
0
1
1
1
1
0
1
1
1
1
0
1
1
1
1
0
0
1
1
0